@model WebApplication5.Models.Course

<h2>Add New Course</h2>
<form asp-action="CreateCourse" method="post">
    <div class="form-group">
        <label>Course Name</label>
        <input asp-for="CourseName" class="form-control" />
    </div>
    <button type="submit" class="btn btn-success mt-3">Add Course</button>
</form>
