@model List<Student>
<a class="btn btn-primary" asp-action="Create">Add Student</a>
<table class="table">
	<tr>
		<th>Student Id</th>
		<th>Name</th>
		<th>Couse Name</th>
	</tr>
	@foreach(var item in Model)
	{
		<tr>
			<td>@item.StudentId</td>
			<td>@item.StudentName</td>
			<td>@item.Course.CourseName</td>
		</tr>
	}
	</table>