@model ContactInfo

<h2>Add New Contact</h2>
<form  method="post" asp-action="AddContact">
    <div class="form-group">
        <label asp-for="ContactId"></label>
        <input asp-for="ContactId" class="form-control" />
        <span asp-validation-for="ContactId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="FirstName"></label>
        <input asp-for="FirstName" class="form-control" />
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="LastName"></label>
        <input asp-for="LastName" class="form-control" />
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CompanyName"></label>
        <input asp-for="CompanyName" class="form-control" />
        <span asp-validation-for="CompanyName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="EmailId"></label>
        <input asp-for="EmailId" class="form-control" />
        <span asp-validation-for="EmailId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="MobileNo"></label>
        <input asp-for="MobileNo" class="form-control" />
        <span asp-validation-for="MobileNo" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Designation"></label>
        <input asp-for="Designation" class="form-control" />
        <span asp-validation-for="Designation" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-success">AddContact</button>
    <a asp-action="ShowContacts" class="btn btn-secondary">Back to List</a>
</form>
<p class="text-danger">@ViewBag.ErrorMessage</p>

@section Scripts {
    <!-- jQuery validation + Unobtrusive scripts -->
    <partial name="_ValidationScriptsPartial" />
}