@model WebApplication3.Models.Movie

<h2>Movie Details</h2>

<p><b>Title:</b> @Model.Title</p>
<p><b>Genre:</b> @Model.Genre</p>
<p><b>Price:</b> @Model.Price</p>
<p><b>Rating:</b> @Model.Rating</p>

<div>
    <a asp-action="Index">Back to List</a>
</div>