
# All files
[*]
indent_style = space

# Xml files
[*.xml]
indent_size = 2


[*.cs]

Use .editorconfig to configure rules:
dotnet_diagnostic.CA1822.severity = warning
dotnet_diagnostic.CA2000.severity = error

