@model IEnumerable<Student>

<table class="table">

    <tr>
        <th>Student Id</th>
        <th>Student Name</th>
        <th>Course Id</th>
        <th>Course Name</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.StudentId</td>
            <td>@item.StudentName</td>
            <td>@item.CourseId</td>
            <td>@item.Course.CourseName</td>
        </tr>
    }

</table>